{% extends 'layout.html' %}
{% load movie_filters %}

{% block title %}
Filmler
{% endblock title %}



{% block content %}
<h1 class="text-center my-2">Film Listesi</h1>
<div class="container">
    <div class="row">
        {% if movies %}
        {% for movie in movies %}
        <div class="col-lg-6 mt-5">
            <div class="card mb-3 card-movie-list">
                <div class="row g-1">
                    <div class="col-md-4">
                        <img src="{{ movie.movieBanner.url }}" class="card-img-top img-fixed-size" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-2 border-bottom">
                            <a href="{% url 'detail' movie.id %}">
                                <h5 class="card-header bg-primary rounded text-white text-center">
                                    {{ movie.name }}
                                </h5>
                            </a>
                            <p class="card-text mt-1">{{ movie.description|truncate:330 }}</p>
                        </div>
                        <table class="table table-borderless table-hover mb-0">
                            <tbody>
                                <tr>
                                    <th>IMDB</th>
                                    <td>{{ movie.ımdbPoints }}</td>
                                </tr>
                                <tr>
                                    <th>Süre</th>
                                    <td>{{ movie.movieDuration }}</td>
                                </tr>
                                <tr>
                                    <th>Yıl</th>
                                    <td>{{ movie.movieYear }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p class="alert alert-warning">Film Yok</p>
        </div>

        {% endif %}

    </div>

    {% endblock %}