{% extends 'layout.html' %}
{% load static %}

{% block title %}
Hakkımızda
{% endblock title %}

{% block content %}
<div class="container">
    <div class="ro">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Filmler ve Filimler</h1>
                <p class="col-md-8 fs-4">Binlerce Film ve Diziyi reklamsız yüksek kaliteli ve akıcı bir şekilde siz
                    değerli izleyicilerimizde buluşturuyoruz.
                </p>
                <button class="btn btn-primary btn-lg" type="button">Filmleri Gör</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="card text-bg-dark">
        <img src="{% static 'img/hakkimizda-01.jpeg' %}" class="card-img" alt="...">
        <div class="card-img-overlay rounded-0">
            <h1 class="card-title text-center">Dünyanın Fimi Burada</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
{% endblock %}