{% extends 'layout.html' %}
{% load static %}

{% block title %}
İletişim
{% endblock title%}

{% block content %}
<h2>İletişim</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, asperiores optio incidunt voluptatibus
    deserunt non, rem consectetur reiciendis quos reprehenderit necessitatibus saepe quasi earum quas unde natus
    corrupti, aperiam quia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium enim debitis ut! Libero
    necessitatibus, facilis
    nisi eveniet sapiente deserunt ad. Ratione debitis nemo placeat officiis voluptatum deleniti eaque nulla rerum Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Laudantium laborum aperiam expedita vero impedit esse in,
    cupiditate velit numquam molestias, aliquam aut rem asperiores architecto error quae aliquid perspiciatis tempore.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur tempore placeat eaque pariatur laboriosam
    consectetur vero, quis illo id hic esse ratione provident distinctio cumque incidunt quas unde tempora! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Laborum autem temporibus quo aspernatur, id, officiis dolores quidem
    vel deserunt doloribus pariatur quos, aliquid ducimus veritatis consectetur corporis voluptatibus placeat quis?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus officia explicabo cumque incidunt dolores, quae
    necessitatibus? Exercitationem numquam ut harum dicta error. Maxime voluptatibus inventore adipisci perferendis sit
    minima odit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque praesentium quaerat deserunt iure amet,
    maiores officiis dolores deleniti facilis optio illum vitae est iusto. Beatae, est asperiores! Fugiat, facere qui!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero debitis eveniet officiis nam omnis sunt voluptates,
    repellat esse beatae autem provident doloribus excepturi est soluta odit nemo unde! Quod, fugit. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Perspiciatis sunt recusandae accusamus modi molestias perferendis beatae, a
    quo temporibus nam ratione ipsum et. Aperiam quis odio reiciendis esse, enim dolores.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, asperiores optio incidunt voluptatibus
    deserunt non, rem consectetur reiciendis quos reprehenderit necessitatibus saepe quasi earum quas unde natus
    corrupti, aperiam quia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium enim debitis ut! Libero
    necessitatibus, facilis
    nisi eveniet sapiente deserunt ad. Ratione debitis nemo placeat officiis voluptatum deleniti eaque nulla rerum Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Laudantium laborum aperiam expedita vero impedit esse in,
    cupiditate velit numquam molestias, aliquam aut rem asperiores architecto error quae aliquid perspiciatis tempore.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur tempore placeat eaque pariatur laboriosam
    consectetur vero, quis illo id hic esse ratione provident distinctio cumque incidunt quas unde tempora! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Laborum autem temporibus quo aspernatur, id, officiis dolores quidem
    vel deserunt doloribus pariatur quos, aliquid ducimus veritatis consectetur corporis voluptatibus placeat quis?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus officia explicabo cumque incidunt dolores, quae
    necessitatibus? Exercitationem numquam ut harum dicta error. Maxime voluptatibus inventore adipisci perferendis sit
    minima odit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque praesentium quaerat deserunt iure amet,
    maiores officiis dolores deleniti facilis optio illum vitae est iusto. Beatae, est asperiores! Fugiat, facere qui!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero debitis eveniet officiis nam omnis sunt voluptates,
    repellat esse beatae autem provident doloribus excepturi est soluta odit nemo unde! Quod, fugit. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Perspiciatis sunt recusandae accusamus modi molestias perferendis beatae, a
    quo temporibus nam ratione ipsum et. Aperiam quis odio reiciendis esse, enim dolores</p>

{% endblock%}